<%- include("partials/head") %> 
<main class="main-container">
    <%- include("partials/navBar") %> 
    <div class="about-container">
        <div class="text-container">
            <h1>I'm baby coloring book poke taxidermy</h1>
            <p>Taxidermy forage glossier letterpress heirloom before they sold out you probably haven't heard of them banh mi biodiesel chia.</p>
            <p>Taiyaki tumblr flexitarian jean shorts brunch, aesthetic salvia retro.</p>
            <a href="/contact"><button class="nav-button">Contact</button></a>
        </div>
        <img src="assets/about.jpeg" alt="">
    </div>
    <h2 class="h-center about-h2">Look At This Awesomesouce!</h2>
    <%- include("partials/recipe") %> 
</main>
<%- include("partials/footer") %> 