<%- include("partials/head") %> 
    <main class="main-container">
        <link rel="stylesheet" href="tag-style.css">
        <%- include("partials/navBar") %> 
        <h1>Sorry Couldn't find what you are looking for :(</h1>
        <h3 style="margin-top:5rem">Try these recipes:</h3>
        <%- include("partials/recipe") %> 
    </main>
<%- include("partials/footer") %> 