<%- include("partials/head") %> 
<main class="main-container">
    <%- include("partials/navBar") %> 
    <div class="about-container">
        <img src="assets/recipes/recipe-4.jpeg" class="single-img" alt="">
        <div class="text-container">
            <h1>Banana Pancakes</h1>
            <p class="light-text">Shabby chic humblebrag banh mi bushwick, banjo kale chips meggings. Cred selfies sartorial, cloud bread disrupt blue bottle seitan. Dreamcatcher tousled bitters, health goth vegan venmo whatever street art lyft shabby chic pitchfork beard. Drinking vinegar poke tbh, iPhone coloring book polaroid truffaut tousled ramps pug trust fund letterpress. Portland four loko austin chicharrones bitters single-origin coffee. Leggings letterpress occupy pour-over.</p>
            <div class="icons">
                <div class="ico">
                    <i class="bi bi-clock-fill"></i>
                    <p>Prep Time</p>
                    <p>30 min.</p>
                </div>
                <div class="ico">
                    <i class="bi bi-clock"></i>
                    <p>Cook Time</p>
                    <p>15 min.</p>
                </div>
                <div class="ico">
                    <i class="bi bi-people-fill"></i>
                    <p>Servings</p>
                    <p>6 Servings</p>

                </div>
            </div>
            <div class="single-tags">
                <p>Tags : </p>
                <a href="/tag-template">Salad</a>
                <a href="/tag-template">Breakfast</a>
                <a href="/tag-template">Carrots</a>
                <a href="/tag-template">Food</a>
            </div>
        </div>
        
    </div>
    <div class="single-container">
        <div class="instructions">
            <h2>Instructions</h2>
            <h3>STEP 1</h3><hr>
            <p>I'm baby mustache man braid fingerstache small batch venmo succulents shoreditch.</p>
            <h3>STEP 2</h3><hr>
            <p>Pabst pitchfork you probably haven't heard of them, asymmetrical seitan tousled succulents wolf banh mi man bun bespoke selfies freegan ethical hexagon.</p>
            <h3>STEP 3</h3><hr>
            <p>Polaroid iPhone bitters chambray. Cornhole swag kombucha live-edge.</p>
        </div>
        <div class="combo">
        <div class="ingredients">
            <h2>Ingredients</h2>
            <ul>
                <li>1 1/2 cups dry pancake mix</li>
                <li>1/2 cup flax seed meal</li>
                <li>1 cup skim milk</li>
            </ul>
        </div>
        <div class="tools">
            <h2>Tools</h2>
            <ul>
                <li>Hand Blender</li>
                <li>Large Heavy Pot With Lid</li>
                <li>Measuring Spoons</li>
                <li>Measuring Cups</li>
            </ul>
        </div>
    </div>
</div>
</main>
<%- include("partials/footer") %> 