<%- include("partials/head") %> 
<link rel="stylesheet" href="tag-sec-style.css">
<main class="main-container">
    <%- include("partials/navBar") %> 
    <%- include("partials/recipe") %> 

    </main>
<%- include("partials/footer") %> 