<%- include("partials/head") %> 

<link rel="stylesheet" href="tag-style.css">
<main class="main-container">
    <%- include("partials/navBar") %> 
    <section class="tag-container">
        <a class="tags" href="/tag-template">
            <h2>Salad</h2>
            <p>1 recipe</p>
        </a>
        <a class="tags" href="/tag-template">
            <h2>Breakfast</h2>
            <p>2 recipe</p>
        </a>
        <a class="tags" href="/tag-template">
            <h2>Carrots</h2>
            <p>3 recipe</p>
        </a>
        <a class="tags" href="/tag-template">
            <h2>Dinner</h2>
            <p>4 recipe</p>
        </a>
        <a class="tags" href="/tag-template">
            <h2>Food</h2>
            <p>5 recipe</p>
        </a>
    </section>
</main>
<%- include("partials/footer") %> 